body {
  margin: 0;
}
#header {
  position: fixed;
  height: 75px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.logo-font {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  line-height: 17px;
}

.logo-font p {
  margin: 2px 0;
}

.header-font {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37%;
  margin-left: 160px;
  margin-bottom: 15px;
  font-size: 16px;
}

.header-font b {
  flex-grow: 1;
  text-align: center;
}

.header-img {
  align-items: center;
  margin-left: 215px;
  margin-bottom: 8px;
}

#nav {
  height: 300px;
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

section {
  display: flex;
}

#notice {
  height: 195px;
  width: 156px;
  background-color: #f1f1f1;
  margin: 0px 0px 10px 140px;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#notice b {
  font-size: 13px;
  text-align: start;
  margin: 0;
  margin-left: 18px;
}

#notice p {
  font-size: 13px;
  text-align: start;
  margin: 0;
  margin-left: 18px;
}

#notice1 p {
  font-size: 13px;
  margin: 0;
}

#notice2 p,
#notice3 p,
#notice4 p,
#notice5 p,
#notice6 p {
  font-size: 13px;
  text-align: start;
  margin: 0;
}

#notice3 b,
#notice4 b,
#notice6 b {
  font-size: 13px;
  text-align: start;
  margin: 0;
}

#notice1,
#notice2,
#notice3,
#notice4 {
  height: 195px;
  width: 143px;
  background-color: #f1f1f1;
  margin: 0px 0px 10px 15px;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#notice5,
#notice6 {
  height: 195px;
  width: 147px;
  background-color: #f1f1f1;
  margin: 0px 0px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#notice6 {
  height: 195px;
  width: 147px;
  background-color: #f1f1f1;
  margin: 0px 0px 10px 15px;
  border-right: 1px solid lightgray;
  gap: 7px;
}

#title {
  height: 55px;
  width: 810px;
  border: 1px solid lightgray;
  margin-top: 27px;
  margin-left: 135px;
  display: flex;
  align-items: center;
}

.detail {
  height: 510px;
  width: 780px;
  border: 1px solid lightgray;
  margin-top: 10px;
  margin-left: 135px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
}

.det-header {
  width: 750px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.com-header {
  width: 783px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.det-header img {
  margin: 0 10px 15px 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.com-header img {
  margin: 0 10px 15px 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.dht p {
  margin: 0;
}

.post-tit {
  display: flex;
  justify-content: flex-start;
  width: 750px;
  margin-top: 10px;
}

#live-pop {
  height: 40px;
  width: 315px;
  background-color: #f1f1f1;
  border: 1px solid lightgray;
  margin: 27px 0px 0px 30px;
  display: flex;
  align-items: center;
}

.pop,
.school-news,
.review {
  height: 95px;
  width: 315px;
  background-color: #f1f1f1;
  border: 1px solid lightgray;
  margin: -1px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pop-last,
.school-last {
  width: 315px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
}

#hot,
#best,
#school-news,
#review-title {
  height: 40px;
  width: 315px;
  background-color: #f1f1f1;
  border: 1px solid lightgray;
  margin: 5px 0px 0px 30px;
  display: flex;
  align-items: center;
}

.pop-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pop-class,
.school-class,
.review-class {
  margin: 3px 0px 0px 8px;
  gap: 0;
}

.hot-write {
  height: 40px;
  width: 315px;
  background-color: #f1f1f1;
  border: 1px solid lightgray;
  margin: -1px 0px 0px 30px;
  display: flex;
  align-items: center;
}

.post-img img {
  width: 25%;
}

.post-last {
  width: 315px;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
  margin-top: 15px;
}

.posvote,
.scrap {
  font-size: 12px;
  height: 23px;
  width: auto;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 15px;
}

.com {
  height: 70px;
  width: 780px;
  border: 1px solid lightgray;
  margin: -1px auto auto 135px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
}

.plus-com {
  display: flex;
  flex-direction: row;
}

.com-write {
  height: 40px;
  width: 768px;
  border: 1px solid lightgray;
  background-color: #f1f1f1;
  margin: -1px auto auto 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.com-write-button {
  height: 42px;
  width: 42px;
  background-color: red;
  margin: -1px 0 0 -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com-write-button img {
  width: 40px;
  height: 40px;
}

.person {
  display: flex;
  justify-content: flex-start;
}

.per-option {
  gap: 10px;
}

.per-option span {
  font-size: 12px;
  color: lightgrey;
}

.write-menu {
  font-size: 14px;
  color: red;
  height: 23px;
  width: 65px;
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 135px;
}

.write-menu img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
