body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main img {
  width: 200px;
}

.main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.main {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  gap: 8px;
}

.input_id {
  width: 85%;
  height: 40px;
  background-color: rgb(234, 234, 234);
  border: 0;
  border-radius: 10px;
  margin-top: 35px;
  font-size: 18px;
}

.input_password {
  width: 85%;
  height: 40px;
  background-color: rgb(234, 234, 234);
  border: 0;
  border-radius: 10px;
  font-size: 18px;
}

.login_btn {
  width: 86%;
  height: 42px;
  background-color: gray;
  border: 0;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.login_btn.active {
  width: 86%;
  height: 42px;
  background-color: red;
  border: 0;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.option {
  width: 87%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.keep_login {
  display: flex;
  flex-direction: row;
  color: lightgray;
}

.option button {
  border: 0;
  background-color: white;
}

.option p {
  margin: 10px 0;
}

.option button {
  font-size: 16px;
  color: lightgray;
}

.signup {
  border: 0;
  background-color: white;
  font-size: 16px;
  color: gray;
  text-decoration: underline;
  margin-top: 20px;
}

.etc {
  width: 63%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.etc p,
.etc b {
  font-size: 12px;
}

.etc b {
  margin: 10px 0;
}

@media (max-width: 640px) {
  .input_id,
  .input_password,
  .login_btn,
  .option {
    width: 100%;
  }

  .main {
    width: 100%;
  }
}
