.write {
  height: auto;
  width: 780px;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.write-header {
  height: 50px;
  border: 1px solid lightgrey;
  margin: -1px -1px 0 0;
  display: flex;
  align-items: center;
  color: gray;
  font-size: 17px;
  font-weight: bold;
  outline: none;
  padding-left: 5px;
}

.write-sec,
textarea {
  height: 400px;
  width: 765px;
  margin: 0;
  border: none;
  resize: none;
  outline: none;
  padding-left: 5px;
  font-size: 14px;
}

.write-sec p {
  margin: 0;
  font-size: 14px;
  color: gray;
}

.write-opt {
  height: 40px;
  border-top: 1px solid lightgrey;
  margin: 0;
}

.snc {
  display: flex;
}

.snc img {
  width: 40px;
  height: 40px;
}

.content {
  border: 0;
  margin-top: 3px;
  width: 540px;
  height: 35px;
  font-size: 20px;
  outline: none;
}

.com-write-button {
  height: 42px;
  width: 42px;
  background-color: red;
  margin: -4px 0 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com-write-button img {
  width: 40px;
  height: 40px;
}

.position-ch1 {
  display: flex;
  justify-content: space-between;
}

.position-ch1 b {
  font-size: 14px;
  color: gray;
}

.qa {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 120px;
}

.qa b {
  margin-right: 5px;
}

.class {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  margin-top: 3px;
}

#question_ment {
  width: 780px;
  height: 80px;
  border: 1px solid lightgray;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ment {
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 105px 10px 10px;
  background-color: #e9fcff;
  color: rgb(0, 189, 189);
}
