.write {
  height: 502px;
  width: 780px;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.write-header {
  height: 50px;
  border: 1px solid lightgrey;
  margin: -1px -1px 0 0;
  display: flex;
  align-items: center;
  color: gray;
  font-size: 17px;
  font-weight: bold;
}

.write-sec,
textarea {
  height: 404px;
  width: 776px;
  margin: 0;
  border: nonex;
}

.write-sec p {
  margin: 0;
  font-size: 14px;
  color: gray;
}

.write-opt {
  height: 40px;
  border-top: 1px solid lightgrey;
  margin: 0;
}

.snc img {
  width: 40px;
  height: 40px;
}

.content {
  border: 0;
  margin-top: 3px;
  width: 540px;
  height: 35px;
}

.com-write-button {
  height: 42px;
  width: 42px;
  background-color: red;
  margin: -4px 0 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com-write-button img {
  width: 40px;
  height: 40px;
}

.position-ch1 {
  display: flex;
  justify-content: space-between;
}

.position-ch1 b {
  font-size: 14px;
  color: gray;
}

.qa {
  gap: 10px;
  margin-bottom: 5px;
}

.class {
  display: flex;
  align-items: center;
  gap: 10px;
}
