body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  width: 508px;
  height: 640px;
  margin-top: 50px;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 15px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title b {
  font-size: 25px;
  margin: 10px 0;
}

.title p {
  font-size: 14px;
  margin: 0;
}

.title p b {
  font-size: 14px;
}

.option {
  width: 474px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.opt_title {
  font-size: 14px;
  color: gray;
}

.tit_opt {
  width: 474px;
}

.option input {
  width: 468px;
  height: 40px;
  background-color: rgb(234, 234, 234);
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 5px;
}

.ok_button {
  width: 468px;
  height: 40px;
  background-color: gray;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 55px;
  color: white;
  font-weight: bold;
}

.ok_button.active {
  width: 468px;
  height: 40px;
  background-color: red;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 55px;
  color: white;
  font-weight: bold;
}

form {
  padding: 0 18px;
}

@media (max-width: 640px) {
  .main {
    width: 90%;
  }

  .option,
  .opt_title,
  .option input,
  .ok_button {
    width: 100%;
  }
}
